<div>
    <p>My first Angular app, and I didn't even know anything about Angular before that.</p>
    <p>Of course, this app was made according to the tutorial in the Angular website, which I recommend.</p>
    <p>I changed a bit of the styling because the colors were quite dull in my opinion. I sounds fun and easy, but it actually is kind of tiresome to style something for which you're not the one who wrote the markup.</p>
    <p>In the "heroes" component, I prefered using display: flex instead of the position: relative found in the tutorial itself, because basically the markup included an element with some children, and flex makes it easier to align them and make everything look nice and tidy. Also, I give the buttons another feel and added a header, where someone can put his brand or logo if needed. Also, I it now looks better on mobile too.</p>
    <p>What a cool project! Thanks, Angular!</p>
    <button (click)="goBack()">Go back</button>
</div>